.cnt1{
    border: 2px solid black;
    background-color: orangered;
    width: 1000px;
    height: 384px;
    text-align: justify;
}
.cnt1 li{
    list-style: none;
    margin-left: 779px;
    color: white;
    padding: 4px;
}
.hi2{
    margin-left: 821px;
    font-weight: bold;
    margin-top: 30px;
}
.hi3{
    margin-left: 821px;
    font-weight: bold;
    margin-top: 40px;
}
.cnt2 li{
    list-style: none;
    margin-left:590px;
    color: white;
    padding: 9px;
    text-align: justify;
}
.hi4{
    font-weight: bold;
    margin-top: -302px;
    margin-left: 607px;
}
.cnt3 li{
    list-style: none;
    margin-left: 361px;
    color: white;
    padding: 6px;
    text-align: justify;
}
.hi5{
    font-weight: bold;
    margin-top: -242px;
    margin-left: 403px;
}
.hi6{
    color: white;
    margin-left: 41px;
    font-weight: bold;
    margin-top: -209px;
}
.cnt4 p{
    font-style: italic;
    margin-left: 41px;
    text-align: justify;
    color: white;
    margin-top: 25px ;
}
.cnt5{
    font-size: small;
    margin-left: 41px;
    text-align: justify;
    color: white;
    margin-top: 97px ;
}
